<mat-toolbar color="accent" class="vila-toolbar">
  <span>
    <button mat-raised-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </span>
  <span class="vila-toolbar-buttons">
    <img src="assets/viLa-logov0.1.jpg" class="w3-circle w3-image" alt="viLa" />
  </span>
  <span class="vila-toolbar-buttons">
    <h2>{{ 'site_title' | translate }}</h2>
  </span>
  <mat-button-toggle-group #langSelect="matButtonToggleGroup" aria-label="Font Style" (change)="translate.use(langSelect.value)">
    <mat-button-toggle value="ml" checked>മ</mat-button-toggle>
    <mat-button-toggle value="en">E</mat-button-toggle>
  </mat-button-toggle-group>
  <span>
    <button mat-raised-button routerLink=""><mat-icon>home</mat-icon></button>
  </span>
</mat-toolbar>

  <mat-sidenav-container class="vila-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" [opened]="!mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">{{ 'Forum' | translate }}</a>
        <a mat-list-item routerLink=".">{{ 'Articles' | translate }}</a>
        <a mat-list-item routerLink=".">{{ 'Contacts' | translate }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <!-- <div style="justify-content: center; display: flex;"> -->
        <router-outlet></router-outlet>
      <!-- </div> -->

      <input type="hidden" #selection>

      <br />
      <footer>
        <div class="w3-container w3-center w3-small">
          <a routerLink=".">{{'Terms_of_use' | translate }}</a> &nbsp;
          <a href="mailto:hari.kuttiyat@gmail.com">{{'Contact_viLa' | translate }}</a>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
